<div class="login-content-info">
    <div class="container">

        <!-- Forgot Password -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="account-content">
                    <div class="account-info">
                        <div class="login-title">
                            <h3>Forgot Password</h3>
                            <p class="mb-0">Enter your email and we will send you a link to reset your password.</p>
                        </div>
                        <form>
                            <div class="mb-3">
                                <label class="mb-2 form-label" for="email">Email</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary w-100" type="button" (click)="navigation()" (keydown)="navigation()" tabindex="1">Submit</button>
                            </div>
                            <div class="account-signup">
                                <p>Remember Password? <a [routerLink]="routes.loginEmail">Sign In</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Forgot Password -->

    </div>
</div>	