<app-patient-breadcrumb></app-patient-breadcrumb>
<!-- Page Content -->
<div class="content">
    <div class="container">

        <!-- Doctor Widget -->
        <div class="card">
            <div class="card-body">
                <div class="doctor-widget">
                    <div class="doc-info-left">
                        <div class="doctor-img">
                            <img [src]="profile?.profileImage ? 'assets/img/doctors/' + profile.profileImage : 'assets/img/doctors/doc-profile-02.jpg'" class="img-fluid" alt="User Image">
                        </div>
                        <div class="doc-info-cont">
                            <h4 class="doc-name">Dr.{{ profile?.name || 'Doctor Name' }}</h4>
                            <p class="doc-speciality">{{ settings?.educationSettings?.[0]?.degree || 'Degree' }}</p>
                            <p class="doc-department"><img [src]="specializations?.[0]?.image || 'assets/img/specialities/specialities-05.png'" class="img-fluid" alt="Speciality">{{ specializations?.[0]?.name || 'Speciality' }}</p>
                            <div class="rating">
                                <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                                    <i class="fas fa-star" [ngClass]="(profile?.avgRating || 0) > i ? 'filled' : ''"></i>
                                </ng-container>
                                <span class="d-inline-block average-rating">({{ reviews.length || 0 }})</span>
                            </div>
                            <div class="clinic-details">
                                <p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{ profile?.clinicAddress || profile?.address2 || 'No address available' }} - <a href="javascript:void(0);">Get Directions</a></p>
                                
                                <ul class="clinic-gallery">
                                    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                                    <li data-src="assets/img/features/feature-01.jpg" data-responsive="assets/img/features/feature-01.jpg">
                                        <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                            <img alt="img" src="assets/img/features/feature-01.jpg">
                                        </a>
                                    </li>
                                    <li data-src="assets/img/features/feature-02.jpg" data-responsive="assets/img/features/feature-02.jpg">
                                        <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                            <img alt="img" src="assets/img/features/feature-02.jpg">
                                        </a>
                                    </li>
                                    <li data-src="assets/img/features/feature-03.jpg" data-responsive="assets/img/features/feature-03.jpg">
                                        <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                            <img alt="img" src="assets/img/features/feature-03.jpg">
                                        </a>
                                    </li>
                                    <li data-src="assets/img/features/feature-04.jpg" data-responsive="assets/img/features/feature-04.jpg">
                                        <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                            <img alt="img" src="assets/img/features/feature-04.jpg">
                                        </a>
                                    </li>
                                    </lightgallery>
                                </ul>
                            </div>
                            <div class="clinic-services">
                                <span *ngFor="let service of services">{{ service.name }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="doc-info-right">
                        <div class="clini-infos">
                            <ul>
                                <li><i class="far fa-thumbs-up"></i> {{ profile?.recommendationPercent || '99%' }}</li>
                                <li><i class="far fa-comment"></i> {{ reviews.length || 0 }} Feedback</li>
                                <li><i class="fas fa-map-marker-alt"></i> {{ profile?.city || 'City' }}</li>
                                <li><i class="far fa-money-bill-alt"></i> {{ profile?.priceRange ? ('$' + profile.priceRange) : '$100 per hour' }} </li>
                            </ul>
                        </div>
                        <div class="doctor-action">
                            <a href="javascript:void(0)" class="btn btn-white fav-btn" (click)="toggleFavourite()" [attr.aria-label]="profile?.favourite && profile.favourite.favourites ? 'Remove from favourites' : 'Add to favourites'">
                                <i class="fa" [ngClass]="profile?.favourite && profile.favourite.favourites ? 'fa-bookmark text-danger' : 'fa-bookmark'"></i>
                            </a>
                            <a [routerLink]="routes.chatDoctor" class="btn btn-white msg-btn">
                                <i class="far fa-comment-alt"></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-white call-btn" data-bs-toggle="modal" data-bs-target="#voice_call">
                                <i class="fas fa-phone"></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-white call-btn" data-bs-toggle="modal" data-bs-target="#video_call">
                                <i class="fas fa-video"></i>
                            </a>
                        </div>
                        <div class="clinic-booking">
                            <a class="apt-btn" [routerLink]="[routes.booking, profile?._id]">Book Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Doctor Widget -->
        
        <!-- Doctor Details Tab -->
        <div class="card">
            <div class="card-body pt-0">
            
                <!-- Tab Menu -->
                <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" href="#doc_overview" data-bs-toggle="tab">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#doc_locations" data-bs-toggle="tab">Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#doc_reviews" data-bs-toggle="tab">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#doc_business_hours" data-bs-toggle="tab">Business Hours</a>
                        </li>
                    </ul>
                </nav>
                <!-- /Tab Menu -->
                
                <!-- Tab Content -->
                <div class="tab-content pt-0">
                
                    <!-- Overview Content -->
                    <div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
                        <div class="row">
                            <div class="col-md-12 col-lg-9">
                            
                                <!-- About Details -->
                                <div class="widget about-widget">
                                    <h4 class="widget-title">About Me</h4>
                                    <p>{{ profile?.about || 'No bio available.' }}</p>
                                </div>
                                <!-- /About Details -->
                            
                                <!-- Education Details -->
                                <div class="widget education-widget">
                                    <h4 class="widget-title">Education</h4>
                                    <div class="experience-box">
                                        <ul class="experience-list">
                                            <li *ngFor="let edu of settings?.educationSettings">
                                                <div class="experience-user">
                                                    <div class="before-circle"></div>
                                                </div>
                                                <div class="experience-content">
                                                    <div class="timeline-content">
                                                        <a href="#/" class="name">{{ edu.institution }}</a>
                                                        <div>{{ edu.degree }}</div>
                                                        <span class="time">{{ edu.startYear }} - {{ edu.endYear }}</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Education Details -->
                        
                                <!-- Experience Details -->
                                <div class="widget experience-widget">
                                    <h4 class="widget-title">Work & Experience</h4>
                                    <div class="experience-box">
                                        <ul class="experience-list">
                                            <li *ngFor="let exp of settings?.experienceSettings">
                                                <div class="experience-user">
                                                    <div class="before-circle"></div>
                                                </div>
                                                <div class="experience-content">
                                                    <div class="timeline-content">
                                                        <a href="#/" class="name">{{ exp.title }}</a>
                                                        <span class="time">{{ exp.startDate }} - {{ exp.endDate || (exp.currentlyWorking ? 'Present' : '') }} ({{ exp.year }} years)</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Experience Details -->
                    
                                <!-- Awards Details -->
                                <div class="widget awards-widget">
                                    <h4 class="widget-title">Awards</h4>
                                    <div class="experience-box">
                                        <ul class="experience-list">
                                            <li *ngFor="let award of settings?.awardsSettings">
                                                <div class="experience-user">
                                                    <div class="before-circle"></div>
                                                </div>
                                                <div class="experience-content">
                                                    <div class="timeline-content">
                                                        <p class="exp-year">{{ award.year | date:'yyyy' }}</p>
                                                        <h4 class="exp-title">{{ award.awardName }}</h4>
                                                        <p>{{ award.description }}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Awards Details -->
                                
                                <!-- Services List -->
                                <div class="service-list">
                                    <h4>Services</h4>
                                    <ul class="clearfix">
                                        <li *ngFor="let spec of specializations">
                                            <ng-container *ngFor="let service of spec.services">
                                                <a href="javascript:void(0);">{{ service.name }} <span>{{ service.price | currency }}</span></a>
                                            </ng-container>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Services List -->
                                
                                <!-- Specializations List -->
                                <div class="service-list">
                                    <h4>Specializations</h4>
                                    <ul class="clearfix">
                                        <li *ngFor="let spec of specializations">{{ spec.name }}</li>
                                    </ul>
                                </div>
                                <!-- /Specializations List -->

                            </div>
                        </div>
                    </div>
                    <!-- /Overview Content -->
                    
                    <!-- Locations Content -->
                    <div role="tabpanel" id="doc_locations" class="tab-pane fade">
                    
                        <!-- Location List -->
                        <div class="location-list">
                            <div class="row">
                            
                                <!-- Clinic Content -->
                                <div class="col-md-6">
                                    <div class="clinic-content">
                                        <h4 class="clinic-name"><a href="javascript:void(0)">Smile Cute Dental Care Center</a></h4>
                                        <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(4)</span>
                                        </div>
                                        <div class="clinic-details mb-0">
                                            <h5 class="clinic-direction"> <i class="fas fa-map-marker-alt"></i> 2286  Sundown Lane, Austin, Texas 78749, USA <br><a href="javascript:void(0);">Get Directions</a></h5>
                                            <ul class="clinic-gallery">
                                                <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                                                <li data-src="assets/img/features/feature-01.jpg" data-responsive="assets/img/features/feature-01.jpg">
                                                    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                                        <img alt="img" src="assets/img/features/feature-01.jpg">
                                                    </a>
                                                </li>
                                                <li data-src="assets/img/features/feature-02.jpg" data-responsive="assets/img/features/feature-02.jpg">
                                                    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                                        <img alt="img" src="assets/img/features/feature-02.jpg">
                                                    </a>
                                                </li>
                                                <li data-src="assets/img/features/feature-03.jpg" data-responsive="assets/img/features/feature-03.jpg">
                                                    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                                        <img alt="img" src="assets/img/features/feature-03.jpg">
                                                    </a>
                                                </li>
                                                <li data-src="assets/img/features/feature-04.jpg" data-responsive="assets/img/features/feature-04.jpg">
                                                    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                                        <img alt="img" src="assets/img/features/feature-04.jpg">
                                                    </a>
                                                </li>
                                                </lightgallery>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Clinic Content -->
                                
                                <!-- Clinic Timing -->
                                <div class="col-md-4">
                                    <div class="clinic-timing">
                                        <div>
                                            <p class="timings-days">
                                                <span> Mon - Sat </span>
                                            </p>
                                            <p class="timings-times">
                                                <span>10:00 AM - 2:00 PM</span>
                                                <span>4:00 PM - 9:00 PM</span>
                                            </p>
                                        </div>
                                        <div>
                                        <p class="timings-days">
                                            <span>Sun</span>
                                        </p>
                                        <p class="timings-times">
                                            <span>10:00 AM - 2:00 PM</span>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Clinic Timing -->
                                
                                <div class="col-md-2">
                                    <div class="consult-price">
                                        $250
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Location List -->
                        
                        <!-- Location List -->
                        <div class="location-list">
                            <div class="row">
                            
                                <!-- Clinic Content -->
                                <div class="col-md-6">
                                    <div class="clinic-content">
                                        <h4 class="clinic-name"><a href="javascript:void(0)">The Family Dentistry Clinic</a></h4>
                                        <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(4)</span>
                                        </div>
                                        <div class="clinic-details mb-0">
                                            <p class="clinic-direction"> <i class="fas fa-map-marker-alt"></i> 2883  University Street, Seattle, Texas Washington, 98155 <br><a href="javascript:void(0);">Get Directions</a></p>
                                            <ul class="clinic-gallery">
                                                <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                                                <li data-src="assets/img/features/feature-01.jpg" data-responsive="assets/img/features/feature-01.jpg">
                                                    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                                        <img alt="img" src="assets/img/features/feature-01.jpg">
                                                    </a>
                                                </li>
                                                <li data-src="assets/img/features/feature-02.jpg" data-responsive="assets/img/features/feature-02.jpg">
                                                    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                                        <img alt="img" src="assets/img/features/feature-02.jpg">
                                                    </a>
                                                </li>
                                                <li data-src="assets/img/features/feature-03.jpg" data-responsive="assets/img/features/feature-03.jpg">
                                                    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                                        <img alt="img" src="assets/img/features/feature-03.jpg">
                                                    </a>
                                                </li>
                                                <li data-src="assets/img/features/feature-04.jpg" data-responsive="assets/img/features/feature-04.jpg">
                                                    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                                                        <img alt="img" src="assets/img/features/feature-04.jpg">
                                                    </a>
                                                </li>
                                                </lightgallery>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <!-- /Clinic Content -->
                                
                                <!-- Clinic Timing -->
                                <div class="col-md-4">
                                    <div class="clinic-timing">
                                        <div>
                                            <p class="timings-days">
                                                <span> Tue - Fri </span>
                                            </p>
                                            <p class="timings-times">
                                                <span>11:00 AM - 1:00 PM</span>
                                                <span>6:00 PM - 11:00 PM</span>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="timings-days">
                                                <span>Sat - Sun</span>
                                            </p>
                                            <p class="timings-times">
                                                <span>8:00 AM - 10:00 AM</span>
                                                <span>3:00 PM - 7:00 PM</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Clinic Timing -->
                                
                                <div class="col-md-2">
                                    <div class="consult-price">
                                        $350
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Location List -->

                    </div>
                    <!-- /Locations Content -->
                    
                    <!-- Reviews Content -->
                    <div role="tabpanel" id="doc_reviews" class="tab-pane fade">
                    
                        <!-- Review Listing -->
                        <div class="widget review-listing">
                            <ul class="comments-list">
                            
                                <!-- Comment List -->
                                <li *ngFor="let review of paginatedReviews">
                                    <div class="comment">
                                        <img class="avatar avatar-sm rounded-circle" alt="User Image" [src]="review?.patient?.profileImgUrl || 'assets/img/clients/client-13.jpg'">
                                        <div class="comment-body">
                                            <div class="meta-data">
                                                <span class="comment-author">
                                                    {{ (review?.patient?.name?.length > 12) ? (review?.patient?.name | slice:0:12) + '...' : (review?.patient?.name || 'Anonymous') }}
                                                </span>
                                                <span class="comment-date">{{ timeAgo(review?.createdAt) }}</span>
                                                <div class="review-count rating">
                                                    <ng-container *ngFor="let star of [1,2,3,4,5]">
                                                        <i class="fas fa-star" [ngClass]="{'filled': review?.rating >= star}"></i>
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <p class="recommended" *ngIf="review?.recommended"><i class="far fa-thumbs-up"></i> I recommend the doctor</p>
                                            <p class="comment-content">{{ review?.comment }}</p>
                                        </div>
                                    </div>
                                </li>
                                <!-- /Comment List -->
                                
                            </ul>
                            
                            <!-- Pagination Controls -->
                            <div class="pagination dashboard-pagination" *ngIf="Math.ceil(reviews.length / 5) > 1">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" class="page-link prev-link" (click)="currentReviewPage = Math.max(1, currentReviewPage-1)" [class.disabled]="currentReviewPage === 1">
                                            <i class="fa-solid fa-chevron-left me-2"></i>Prev
                                        </a>
                                    </li>
                                    <li *ngFor="let page of [].constructor(Math.ceil(reviews.length/5)); let i = index">
                                        <a href="javascript:void(0);" class="page-link" [class.active]="currentReviewPage === (i+1)" (click)="currentReviewPage = i+1">{{ i+1 }}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="page-link next-link" (click)="currentReviewPage = Math.min(Math.ceil(reviews.length/5), currentReviewPage+1)" [class.disabled]="currentReviewPage === Math.ceil(reviews.length/5)">
                                            Next<i class="fa-solid fa-chevron-right ms-2"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        <!-- /Review Listing -->
                    
                        <!-- Write Review -->
                        <div class="write-review">
                            <h4>Write a review for <strong>Dr.{{ profile?.name }}</strong></h4>
                            <form (ngSubmit)="submitReview()" #reviewForm="ngForm">
                                <div class="mb-3">
                                    <label for="review-rating" class="mb-2">Rating</label>
                                    <div class="star-rating">
                                        <ng-container *ngFor="let r of [5,4,3,2,1]">
                                            <input type="radio" [id]="'star-' + r" name="rating" [value]="r" [(ngModel)]="newReview.rating" required />
                                            <label [for]="'star-' + r" [title]="r + ' stars'">
                                                <i class="active fa fa-star" [class.selected]="(newReview.rating ?? 0) >= r"></i>
                                            </label>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="review-comment" class="mb-2">Your review</label>
                                    <textarea id="review-comment" class="form-control" required [(ngModel)]="newReview.comment" name="comment" maxlength="100"></textarea>
                                    <div class="d-flex justify-content-between mt-3">
                                        <small class="text-muted"><span>{{ 100 - (newReview.comment.length || 0) }}</span> characters remaining</small>
                                    </div>
                                </div>
                                <div class="submit-section">
                                    <button type="submit" class="btn btn-primary submit-btn" [disabled]="reviewLoading || !reviewForm.form.valid">
                                        {{ reviewLoading ? 'Submitting...' : 'Add Review' }}
                                    </button>
                                </div>
                                <div *ngIf="reviewError" class="text-danger mt-2">{{ reviewError }}</div>
                                <div *ngIf="reviewSuccess" class="text-success mt-2">Review submitted!</div>
                            </form>
                        </div>
                        <!-- /Write Review -->
            
                    </div>
                    <!-- /Reviews Content -->
                    
                    <!-- Business Hours Content -->
                    <div role="tabpanel" id="doc_business_hours" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                            
                                <!-- Business Hours Widget -->
                                <div class="widget business-widget">
                                    <div class="widget-content">
                                        <div class="listing-hours">
                                            <div class="listing-day" *ngFor="let business of settings?.businessSettings">
                                                <div class="day">{{ business.selectedDays?.[0] }}</div>
                                                <div class="time-items">
                                                    <span class="open-status" *ngIf="business.isOpen"><span class="badge bg-success-light">Open Now</span></span>
                                                    <span class="time">{{ business.startTime1 | date:'shortTime' }} - {{ business.endTime1 | date:'shortTime' }}</span>
                                                    <span class="time" *ngIf="business.startTime2 && business.endTime2">{{ business.startTime2 | date:'shortTime' }} - {{ business.endTime2 | date:'shortTime' }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Business Hours Widget -->
                        
                            </div>
                        </div>
                    </div>
                    <!-- /Business Hours Content -->
                    
                </div>
            </div>
        </div>
        <!-- /Doctor Details Tab -->

    </div>
</div>		
<!-- /Page Content -->

