.dot-available {
    color: #28a745 !important; /* green */
  }
  .dot-unavailable {
    color: #dc3545 !important; /* red */
  }
  .dot-unknown {
    color: #6c757d !important; /* gray */
  }
.special-links a {
  margin-right: 16px;
  margin-bottom: 8px;
  display: inline-block;
}
.special-links a:last-child {
  margin-right: 0;
}