<app-doctor-breadcrumb></app-doctor-breadcrumb>
<div class="content doctor-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-xl-3 theiaStickySidebar">
        <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>
      </div>
      <div class="col-lg-8 col-xl-9">
        <div class="dashboard-header">
          <h3>Speciality & Services</h3>
          <ul>
            <li>
              <a href="javascript:void(0);" class="btn btn-primary prime-btn add-speciality" (click)="addSpecialization()">Add New Speciality</a>
            </li>
          </ul>
        </div>

        <div *ngIf="loading">Loading...</div>

        <!-- New Specialization -->
        <div *ngIf="newSpecialization" class="user-accordion-item">
          <a href="javascript:void(0);" class="accordion-wrap">{{ newSpecialization.name || 'Speciality' }}<span (click)="cancelNewSpecialization()">Delete</span></a>
          <div class="content-collapse">
            <div class="add-service-info">
              <div class="add-info">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-wrap">
                      <label class="col-form-label" for="speciality">Speciality <span class="text-danger">*</span></label>
                      <mat-select class="custom-mat-select" [(ngModel)]="newSpecialization.name" #specialityName="ngModel" name="specialityName" required>
                        <mat-option *ngFor="let option of specialityOptions || []" [value]="option.name" [disabled]="isSpecialityAlreadyAdded(option.name, newSpecialization.name)">
                          {{ option.name }}
                        </mat-option>
                      </mat-select>
                      <div *ngIf="specialityName.invalid && (specialityName.touched || attemptedSave)" class="text-danger small">Speciality is required.</div>
                    </div>
                  </div>
                </div>
                <div *ngFor="let service of newSpecialization.services || []; let i = index" class="row service-cont">
                  <div class="col-md-3">
                    <div class="form-wrap">
                      <label class="col-form-label" for="service">Service <span class="text-danger">*</span></label>
                      <mat-select class="custom-mat-select" [(ngModel)]="service.name" #serviceName="ngModel" name="serviceName{{i}}" required>
                        <mat-option *ngFor="let option of serviceOptions"
                                    [value]="option"
                                    [disabled]="isServiceAlreadySelected(option, newSpecialization?.services || [], i)">
                          {{ option }}
                        </mat-option>
                      </mat-select>
                      <div *ngIf="serviceName.invalid && (serviceName.touched || attemptedSave)" class="text-danger small">Service is required.</div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-wrap">
                      <label class="col-form-label" for="price">Price ($) <span class="text-danger">*</span></label>
                      <input type="number" class="form-control" [(ngModel)]="service.price" #servicePrice="ngModel" name="servicePrice{{i}}" required min="1">
                      <div *ngIf="servicePrice.invalid && (servicePrice.touched || attemptedSave)" class="text-danger small">Price is required.</div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="d-flex align-items-center">
                      <div class="form-wrap w-100">
                        <label class="col-form-label" for="about">About Service</label>
                        <input type="text" class="form-control" [(ngModel)]="service.about">
                      </div>
                      <div class="form-wrap ms-2">
                        <label class="col-form-label d-block" for="delete">&nbsp;</label>
                        <a href="javascript:void(0);" class="trash-icon trash" (click)="deleteNewServiceRow(i)">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="error" class="text-danger small">{{ error }} Add atleast One service.</div>
              <div class="text-end">
                <a *ngIf="(newSpecialization?.services?.length || 0) < serviceOptions.length"
                   href="javascript:void(0);" class="add-serv more-item mb-0"
                   (click)="addNewServiceRow()">
                   Add New Service
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Move buttons outside accordion -->
        <div *ngIf="newSpecialization" class="modal-btn text-end mt-4 mb-4">
          <a href="javascript:void(0);" class="btn btn-gray" (click)="cancelNewSpecialization()">Cancel</a>
          <button class="btn btn-primary prime-btn" (click)="saveNewSpecialization()">Save Changes</button>
        </div>

        <!-- Existing Specializations -->
        <div class="accordions" id="list-accord">
          <div *ngFor="let spec of specializations; let i = index" class="user-accordion-item">
            <a href="javascript:void(0);" class="accordion-wrap" data-bs-toggle="collapse" [attr.data-bs-target]="'#spec-' + spec._id">
              {{ spec.name }}<span (click)="$event.stopPropagation(); deleteSpecialization(spec)">Delete</span>
            </a>
            <div class="accordion-collapse collapse" [ngClass]="{ 'show': i === 0 }" [id]="'spec-' + spec._id" [attr.data-bs-parent]="'#list-accord'">
              <div class="content-collapse">
                <div class="add-service-info">
                  <div class="add-info">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-wrap">
                          <label class="col-form-label" for="speciality">Speciality <span class="text-danger">*</span></label>
                          <mat-select class="custom-mat-select" [(ngModel)]="spec.name" #editSpecialityName="ngModel" name="editSpecialityName{{i}}" placeholder="Select" (ngModelChange)="onEditField(spec)" required>
                            <mat-option *ngFor="let option of specialityOptions" [value]="option.name" [disabled]="isSpecialityAlreadyAdded(option.name, spec.name)">
                              {{ option.name }}
                            </mat-option>
                          </mat-select>
                          <div *ngIf="spec.editMode && editSpecialityName.invalid && (editSpecialityName.touched || editSpecialityName.dirty)" class="text-danger small">Speciality is required.</div>
                        </div>
                      </div>
                    </div>
                    <div *ngFor="let service of spec.services; let j = index" class="row service-cont">
                      <div class="col-md-3">
                        <div class="form-wrap">
                          <label class="col-form-label" for="service">Service <span class="text-danger">*</span></label>
                          <mat-select class="custom-mat-select" [(ngModel)]="service.name" #editServiceName="ngModel" name="editServiceName{{i}}_{{j}}" placeholder="Select Service" (ngModelChange)="onEditField(spec)" required>
                            <mat-option *ngFor="let option of serviceOptions" [value]="option" [disabled]="isServiceAlreadySelected(option, spec.services, j)">{{ option }}</mat-option>
                          </mat-select>
                          <div *ngIf="spec.editMode && editServiceName.invalid && (editServiceName.touched || editServiceName.dirty)" class="text-danger small">Service is required.</div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-wrap">
                          <label class="col-form-label" for="price">Price ($) <span class="text-danger">*</span></label>
                          <input type="number" class="form-control" [(ngModel)]="service.price" #editServicePrice="ngModel" name="editServicePrice{{i}}_{{j}}" placeholder="454" (ngModelChange)="onEditField(spec)" required min="1">
                          <div *ngIf="spec.editMode && editServicePrice.invalid && (editServicePrice.touched || editServicePrice.dirty)" class="text-danger small">Price is required.</div>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="d-flex align-items-center">
                          <div class="form-wrap w-100">
                            <label class="col-form-label" for="about">About Service</label>
                            <input type="text" class="form-control" [(ngModel)]="service.about" (ngModelChange)="onEditField(spec)">
                          </div>
                          <div class="form-wrap ms-2">
                            <label class="col-form-label d-block" for="delete">&nbsp;</label>
                            <a href="javascript:void(0);" class="trash-icon trash" (click)="deleteService(spec, service)">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-end">
                    <a *ngIf="spec.services.length < serviceOptions.length" href="javascript:void(0);" class="add-serv more-item mb-0" (click)="addService(spec)">Add New Service</a>
                  </div>
                </div>
                <div *ngIf="spec.editMode" class="modal-btn text-end mt-4">
                  <a href="javascript:void(0);" class="btn btn-gray" (click)="cancelEditSpecialization(spec)">Cancel</a>
                  <button class="btn btn-primary prime-btn" (click)="saveEditSpecialization(spec)">Save Changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
