<app-patient-breadcrumb></app-patient-breadcrumb>

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            
            <!-- Profile Sidebar -->
            <app-patient-sidebar class="col-lg-4 col-xl-3"></app-patient-sidebar>
            <!-- / Profile Sidebar -->
            
            <div class="col-lg-8 col-xl-9">
                <div class="dashboard-header">
                    <div class="header-back">
                        <a [routerLink] = "routes.patientAppointment" class="back-arrow"><i class="fa-solid fa-arrow-left"></i></a>
                        <h3>Appointment Details1</h3>
                    </div>
                </div>
                <div class="appointment-details-wrap">

                    <!-- Appointment Detail Card -->
                    <div class="appointment-wrap appointment-detail-card" *ngIf="appointment">
                        <ul>
                            <li>
                                <div class="patinet-information">
                                    <a href="javascript:void(0);">
                                        <ng-container *ngIf="doctorProfile?.profileImgUrl; else avatarFallback">
                                            <img [src]="doctorProfile.profileImgUrl" alt="User Image">
                                        </ng-container>
                                
                                        <ng-template #avatarFallback>
                                            <app-avatar [name]="doctorProfile?.name" [size]="40" [gap]="10" [marginRight]="10">
                                            </app-avatar>
                                        </ng-template>
                                    </a>
                                
                                    <div class="patient-info">
                                        <p>#{{ appointment._id?.slice(-6) }}</p>
                                        <h6><a href="javascript:void(0);">{{ appointment.doctorName || appointment.doctor?.name || '-' }}</a></h6>
                                        <div class="mail-info-patient">
                                            <ul>
                                                <li><i class="fa-solid fa-envelope"></i>{{ doctorProfile?.email || '-' }}</li>
                                                <li><i class="fa-solid fa-phone"></i>{{ doctorProfile?.phone || '-' }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="appointment-info">
                                <div class="person-info">
                                    <p>Type of Appointment</p>
                                    <ul class="d-flex apponitment-types">
                                        <li><i class="fa-solid text-green"></i>{{ appointment.appointmentType || '-' }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="appointment-action">
                                <div class="detail-badge-info">
                                    <span class="badge bg-grey me-2">{{ appointment.patientType || 'Returning Patient' }}</span>
                                    <span class="badge bg-yellow">{{ appointment.status || 'Upcoming' }}</span>
                                </div>
                                <div class="consult-fees">
                                    <h6>Consultation Fees : ${{ appointment.price || '-' }}</h6>
                                </div>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-solid fa-comments"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-solid fa-xmark"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="detail-card-bottom-info">
                            <li>
                                <h6>Appointment Date & Time</h6>
                                <span>{{ appointment.date | date:'mediumDate' }} - {{ appointment.time }}</span>
                            </li>
                            <li>
                                <h6>Clinic Location</h6>
                                <span>{{ appointment.clinicName || '-' }}</span>
                            </li>
                            <li>
                                <h6>Location</h6>
                                <span>{{ appointment.location || '-' }}</span>
                            </li>
                            <li>
                                <h6>Visit Type</h6>
                                <span>{{ appointment.specialty || '-' }}</span>
                            </li>
                            <li>
                                <div class="start-btn">
                                    <a [routerLink] = "routes.patientAppointment" class="btn btn-secondary">Back to Appointments</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /Appointment Detail Card -->

   

                  

                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->