<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Reviews</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.adminDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Reviews</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="patientName">Patient Name</th>
                    <th mat-sort-header="doctorName">Doctor Name</th>
                    <th mat-sort-header="ratings">Ratings</th>
                    <th mat-sort-header="description">Description</th>
                    <th mat-sort-header="date">Date</th>
                    <th mat-sort-header="actions">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let review of reviews">
                    <td>
                      <h2 class="table-avatar">
                        <a  style="cursor: default;" class="avatar avatar-sm me-2">
                          <img class="avatar-img rounded-circle" [src]="review.patient?.profileImgUrl || 'assets/admin/img/profiles/avatar-01.jpg'" alt="User Image">
                        </a>
                        <a  style="cursor: default;">{{review.patient?.name}}</a>
                      </h2>
                    </td>
                    <td>
                      <h2 class="table-avatar">
                        <a  style="cursor: default;" class="avatar avatar-sm me-2">
                          <img class="avatar-img rounded-circle" [src]="review.doctor?.profileImgUrl || 'assets/admin/img/profiles/avatar-01.jpg'" alt="User Image">
                        </a>
                        <a  style="cursor: default;">{{review.doctor?.name}}</a>
                      </h2>
                    </td>
                    <td>
                      <ng-container *ngFor="let star of [1,2,3,4,5]">
                        <i class="fe" [ngClass]="star <= review.rating ? 'fe-star text-warning' : 'fe-star-o text-secondary'"></i>
                      </ng-container>
                    </td>
                    <td>{{review.comment}}</td>
                    <td>{{review.createdAt | date:'short'}}</td>
                    <td>
                      <div class="actions">
                        <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal" (click)="openDeleteModal(review)">
                          <i class="fe fe-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Page Wrapper -->
