<app-doctor-breadcrumb></app-doctor-breadcrumb>
<!-- Page Content -->
<div class="content doctor-content">
    <div class="container">
        <div class="row">
            <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>
            <div class="col-lg-8 col-xl-9">
                <div class="dashboard-header">
                    <h3>Requests</h3>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
                <div *ngIf="loading">Loading...</div>
                <!-- <div *ngIf="!loading && appointments.length === 0 && !error">No pending requests.</div> -->
                <app-empty-state
                  *ngIf="appointments.length === 0 && !loading && !error"
                  [icon]="'fa-solid fa-calendar-check'"
                  [title]="'No Requests'"
                  [message]="'There are no requests to show.'">
                </app-empty-state>
                <!-- Dynamic Request List -->
                <div *ngFor="let apt of appointments" class="appointment-wrap">
                    <ul>
                        <li>
                            <div class="patinet-information">
                                <a [routerLink]="routes.patientProfile">
                                    <img [src]="apt.patient?.profileImage || 'assets/img/doctors-dashboard/profile-01.jpg'" alt="User Image">
                                </a>
                                <div class="patient-info">
                                    <p>#{{ apt._id.slice(-6) }}</p>
                                    <h6>
                                        <a [routerLink]="routes.patientProfile">{{ apt.patient?.name || apt.name || 'Unknown' }}</a>
                                        <span *ngIf="apt.status === 'pending'" class="badge new-tag">New</span>
                                    </h6>
                                </div>
                            </div>
                        </li>
                        <li class="appointment-info">
                            <p><i class="isax isax-clock5"></i>{{ apt.date }} {{ apt.time }}</p>
                            <p class="md-text">{{ apt.specialty || apt.service || apt.symptoms || 'General Visit' }}</p>
                        </li>
                        <li class="appointment-type">
                            <p class="md-text">Type of Appointment</p>
                            <p>
                                <i *ngIf="apt.appointmentType === 'Video Call'" class="isax isax-video5 text-blue"></i>
                                <i *ngIf="apt.appointmentType === 'Clinic'" class="isax isax-building5 text-green"></i>
                                <i *ngIf="apt.appointmentType === 'Audio Call'" class="isax isax-call5 text-indigo"></i>
                                {{ apt.appointmentType }}
                            </p>
                        </li>
                        <li>
                            <ul class="request-action">
                                <li>
                                    <button class="accept-link" [disabled]="statusLoading[apt._id]" (click)="handleStatus(apt._id, 'accepted')">
                                        <i class="fa-solid fa-check"></i> Accept
                                    </button>
                                </li>
                                <!-- <li class="divider"></li> -->
                                <li>
                                    <button class="reject-link" [disabled]="statusLoading[apt._id]" (click)="handleStatus(apt._id, 'rejected')">
                                        <i class="fa-solid fa-xmark"></i> Reject
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /Dynamic Request List -->
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="loader-item text-center">
                            <a href="javascript:void(0);" class="btn btn-load">Load More</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->