<app-doctor-breadcrumb></app-doctor-breadcrumb>
<!-- Page Content -->
<div class="content doctor-content">
  <div class="container">

    <div class="row">
      <app-doctor-sidebar
      class="col-md-5 col-lg-4 col-xl-3"
    ></app-doctor-sidebar>
      <div class="col-lg-8 col-xl-9">
      
        <!-- Profile Settings -->
        <div class="dashboard-header">
          <h3>Profile Settings</h3>
        </div>

        <!-- Settings List -->
        <div class="setting-tab">
          <div class="appointment-tabs">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="routes.doctorProfileSettings">Basic Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorExperienceSettings">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorEducationSettings">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink] = "routes.doctorAwardsSettings">Awards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorInsuranceSettings">Insurances</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorClinicSettings">Clinics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorBusinessSettings">Business Hours</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /Settings List -->

        <div class="setting-title">
          <h5>Profile</h5>
        </div>

        <form [formGroup]="settingsForm">
          <div class="setting-card">
            <div class="change-avatar img-upload">
              <div class="profile-img">
                <img *ngIf="profileImgUrl" [src]="profileImgUrl" alt="Profile" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;" />
                <i *ngIf="!profileImgUrl" class="fa-solid fa-file-image"></i>
              </div>
              <div class="upload-img">
                <h5>Profile Image</h5>
                <div class="imgs-load d-flex align-items-center">
                  <div class="change-photo">
                    Upload New 
                    <input type="file" class="upload" (change)="onProfileImageSelected($event)" accept="image/*">
                  </div>
                  <a href="javascript:void(0)" class="upload-remove" (click)="removeProfileImage()">Remove</a>
                </div>
                <p class="form-text">Your Image should Below 4 MB, Accepted format Jpg,Png,Svg</p>
              </div>			
            </div>			
          </div>
          <div class="setting-title">
            <h5>Information</h5>
          </div>
          <div class="setting-card">
            <div class="row" formGroupName="profileSettings">
              <div class="col-lg-4 col-md-6">
                <div class="form-wrap">
                  <label class="col-form-label" for="firstname">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="fullName">
                  <div *ngIf="settingsForm.get('profileSettings.fullName')?.invalid && (settingsForm.get('profileSettings.fullName')?.touched || settingsForm.get('profileSettings.fullName')?.dirty)">
                    <small class="text-danger">First Name is required.</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="form-wrap">
                  <label class="col-form-label" for="lastname">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="lastName">
                  <div *ngIf="settingsForm.get('profileSettings.lastName')?.invalid && (settingsForm.get('profileSettings.lastName')?.touched || settingsForm.get('profileSettings.lastName')?.dirty)">
                    <small class="text-danger">Last Name is required.</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="form-wrap">
                  <label class="col-form-label" for="display">Display Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="displayName">
                  <div *ngIf="settingsForm.get('profileSettings.displayName')?.invalid && (settingsForm.get('profileSettings.displayName')?.touched || settingsForm.get('profileSettings.displayName')?.dirty)">
                    <small class="text-danger">Display Name is required.</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="form-wrap">
                  <label class="col-form-label" for="designation">Designation <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="designation">
                  <div *ngIf="settingsForm.get('profileSettings.designation')?.invalid && (settingsForm.get('profileSettings.designation')?.touched || settingsForm.get('profileSettings.designation')?.dirty)">
                    <small class="text-danger">Designation is required.</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="form-wrap">
                  <label class="col-form-label" for="phone">Phone Numbers <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="phone">
                  <div *ngIf="settingsForm.get('profileSettings.phone')?.invalid && (settingsForm.get('profileSettings.phone')?.touched || settingsForm.get('profileSettings.phone')?.dirty)">
                    <small class="text-danger" *ngIf="settingsForm.get('profileSettings.phone')?.errors?.['required']">Phone is required.</small>
                    <small class="text-danger" *ngIf="settingsForm.get('profileSettings.phone')?.errors?.['pattern']">Enter a valid 10-digit mobile number.</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="form-wrap">
                  <label class="col-form-label" for="email">Email Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="email">
                  <div *ngIf="settingsForm.get('profileSettings.email')?.invalid && (settingsForm.get('profileSettings.email')?.touched || settingsForm.get('profileSettings.email')?.dirty)">
                    <small class="text-danger" *ngIf="settingsForm.get('profileSettings.email')?.errors?.['required']">Email is required.</small>
                    <small class="text-danger" *ngIf="settingsForm.get('profileSettings.email')?.errors?.['email']">Enter a valid email address.</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-wrap">
                  <label class="col-form-label" for="known">Known Languages <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="knownLanguages">
                  <div *ngIf="settingsForm.get('profileSettings.knownLanguages')?.invalid && (settingsForm.get('profileSettings.knownLanguages')?.touched || settingsForm.get('profileSettings.knownLanguages')?.dirty)">
                    <small class="text-danger">Known Languages is required.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="setting-title">
            <h5>Memberships</h5>
          </div>
          <div class="setting-card">
            <div class="add-info membership-infos">
              <div formGroupName="profileSettings">
                <div class="row membership-content" formArrayName="memberships">
                  <div class="w-100 d-flex flex-wrap" *ngFor="let membership of membershipsFormArray.controls; let i = index" [formGroupName]="i">
                    <div class="col-lg-2 col-md-6 me-3">
                      <div class="form-wrap">
                        <label class="col-form-label" for="title">Title <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Add Title" formControlName="title">
                        <div *ngIf="membership.get('title')?.invalid && (membership.get('title')?.touched || membership.get('title')?.dirty)">
                          <small class="text-danger">Title is required.</small>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col-lg-9 col-md-6">
                      <div class="d-flex align-items-center">
                        <div class="form-wrap w-100">
                          <label class="col-form-label" for="about">About Membership</label>
                          <input type="text" class="form-control" formControlName="aboutMembership">
                        </div>
                        <div class="form-wrap ms-2" style="margin-right: -45px;">
                          <label class="col-form-label d-block" for="education">&nbsp;</label>
                          <a (click)="$event.preventDefault(); dltMembershipsFunc(i)" href="javascript:void(0);" class="trash-icon trash" >Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-end">
              <a href="javascript:void(0);" (click)="addMembershipsFunc()" class="add-membership-info more-item">Add New</a>
            </div>
          </div>
        
          <div class="modal-btn text-end">
            <a href="javascript:void(0);" class="btn btn-gray">Cancel</a>
            <button type="submit" class="btn btn-primary prime-btn" (click)="saveChanges()">Save Changes</button>
          </div>

        </form>
        <!-- /Profile Settings -->
        
      </div>
    </div>
  </div>
</div>		
<!-- /Page Content -->

