<app-doctor-breadcrumb></app-doctor-breadcrumb>

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>
            
            <div class="col-lg-8 col-xl-9">
                <div class="dashboard-header">
                    <div class="header-back">
                        <a [routerLink] = "routes.appointmentsListUser" class="back-arrow"><i class="fa-solid fa-arrow-left"></i></a>
                        <h3>Appointment Details00</h3>
                    </div>
                </div>
                <div class="appointment-details-wrap">

                    <!-- Appointment Detail Card -->
                    <div class="appointment-wrap appointment-detail-card" *ngIf="appointment">
                        <ul>
                            <li>
                                <div class="patinet-information">
                                    <a href="javascript:void(0);">
                                        <img [src]="appointment.patient?.profileImgUrl || 'assets/img/doctors-dashboard/profile-02.jpg'" alt="User Image">
                                    </a>
                                    <div class="patient-info">
                                        <p>#{{ appointment._id?.slice(-6) }}</p>
                                        <h6><a href="javascript:void(0);">{{ appointment.patient?.name || appointment.name || '-' }}</a></h6>
                                        <div class="mail-info-patient">
                                            <ul>
                                                <li><i class="fa-solid fa-envelope"></i>{{ appointment.patient?.email || appointment.email || '-' }}</li>
                                                <li><i class="fa-solid fa-phone"></i>{{ appointment.patient?.phone || appointment.phone || '-' }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="appointment-info">
                                <div class="person-info">
                                    <p>Type of Appointment</p>
                                    <ul class="d-flex apponitment-types">
                                        <li><i class="fa-solid text-green"></i>{{ appointment.appointmentType || '-' }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="appointment-action">
                                <div class="detail-badge-info">
                                    <span class="badge bg-grey me-2">{{ appointment.patientType || 'New Patient' }}</span>
                                    <span class="badge bg-yellow">{{ appointment.status || 'Upcoming' }}</span>
                                </div>
                                <!-- <div class="consult-fees">
                                    <h6>Consultation Fees : ${{ appointment.price || '-' }}</h6>
                                </div> -->
                                <ul>
                                    <ng-container *ngIf="appointment.status === 'pending'; else acceptedOnly">
                                        <li>
                                            <a href="javascript:void(0);" (click)="acceptAppointment()" title="Accept Appointment"><i class="fa-solid fa-check"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" (click)="rejectAppointment()" title="Reject Appointment"><i class="fa-solid fa-xmark"></i></a>
                                        </li>
                                    </ng-container>
                                    <ng-template #acceptedOnly>
                                        <li *ngIf="appointment.status === 'accepted'">
                                            <a href="javascript:void(0);" (click)="rejectAppointment()" title="Reject Appointment"><i class="fa-solid fa-xmark"></i></a>
                                        </li>
                                    </ng-template>
                                </ul>
                            </li>
                        </ul>
                        <ul class="detail-card-bottom-info">
                            <li>
                                <h6>Appointment Date & Time</h6>
                                <span>{{ appointment.date | date:'mediumDate' }} - {{ appointment.time }}</span>
                            </li>
                            <li>
                                <h6>Symptoms</h6>
                                <span>{{ appointment.symptoms || '-' }}</span>
                            </li>
                            <li>
                                <h6>Location</h6>
                                <span>{{ appointment.location || '-' }}</span>
                            </li>
                            <li>
                                <h6>Visit Type</h6>
                                <span>{{ appointment.specialty || '-' }}</span>
                            </li>
                            <li>
                                <div class="start-btn">
                                    <a [routerLink] = "routes.doctorAppointmentStart" class="btn btn-secondary">Start Session</a>
                                </div>
                            </li>
                        </ul>
                                <div *ngIf="errorMessage" class="text-danger small">{{ errorMessage }}</div>
                    </div>
                    <!-- /Appointment Detail Card -->

                

                    <div class="recent-appointments" *ngIf="recentAppointments.length">
                        <h5 class="head-text">Recent Appointments</h5>
                        <!-- Appointment List -->
                        <div class="appointment-wrap" *ngFor="let apt of recentAppointments">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a href="javascript:void(0);">
                                            <img [src]="apt.patient?.profileImage || apt.patient?.profileImgUrl || 'assets/img/doctors-dashboard/profile-01.jpg'" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#{{ apt._id?.slice(-6) }}</p>
                                            <h6>{{ apt.patient?.name || apt.name || '-' }}</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>{{ apt.date | date:'mediumDate' }} - {{ apt.time }}</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>{{ apt.specialty || 'General Visit' }}</li>
                                        <li>{{ apt.appointmentType || '-' }}</li>
                                    </ul>
                                </li>
                                <li class="mail-info-patient">
                                    <ul>
                                        <li><i class="fa-solid fa-envelope"></i>{{ apt.patient?.email || apt.email || '-' }}</li>
                                        <li><i class="fa-solid fa-phone"></i>{{ apt.patient?.phone || apt.phone || '-' }}</li>
                                    </ul>
                                </li>
                                <li class="appointment-action">
                                    <ul>
                                        <li>
                                            <a [routerLink]="['../doctor-appointment-details', apt._id]"><i class="fa-solid fa-eye"></i></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->