<app-doctor-breadcrumb></app-doctor-breadcrumb>
<!-- Page Content -->
<div class="content doctor-content">
  <div class="container">

    <div class="row">
      <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>
      <div class="col-lg-8 col-xl-9">

        <!-- Profile Settings -->
        <div class="dashboard-header">
          <h3>Profile Settings</h3>
        </div>

        <!-- Settings List -->
        <div class="setting-tab">
          <div class="appointment-tabs">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link " [routerLink]="routes.doctorProfileSettings">Basic Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " [routerLink]="routes.doctorExperienceSettings">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="routes.doctorEducationSettings">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink] = "routes.doctorAwardsSettings">Awards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorInsuranceSettings">Insurances</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorClinicSettings">Clinics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorBusinessSettings">Business Hours</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /Settings List -->

        <div class="dashboard-header border-0 mb-0">
          <h3>Education</h3>
          <ul>
            <li>
              <a (click)="addEducationFunc()" href="javascript:void(0);" class="btn btn-primary prime-btn add-educations">Add New  Education</a>
            </li>
          </ul>
        </div>

        <form [formGroup]="educationForm" (ngSubmit)="saveEducation()">
          <div class="accordions education-infos" id="list-accord" formArrayName="education">
            <div class="user-accordion-item" *ngFor="let edu of educationArray.controls; let i = index" [formGroupName]="i">
              <a href="javascript:void(0);" class="accordion-wrap" data-bs-toggle="collapse" [attr.data-bs-target]="'#education' + i">
                Education <span (click)="$event.preventDefault(); deleteEducationFunc(i)">Delete</span>
              </a>
              <div class="accordion-collapse collapse show" [id]="'education' + i" data-bs-parent="#list-accord">
                <div class="content-collapse">
                  <div class="add-service-info">
                    <div class="add-info">
                      <div class="row align-items-center">
                        <div class="col-md-12">
                          <div class="form-wrap mb-2">
                            <div class="change-avatar img-upload">
                              <div class="profile-img">
                                <i class="fa-solid fa-file-image"></i>
                              </div>
                              <div class="upload-img">
                                <h5>Logo</h5>
                                <div class="imgs-load d-flex align-items-center">
                                  <div class="change-photo">
                                    Upload New
                                    <input type="file" class="upload">
                                  </div>
                                  <a href="javascript:void(0);" class="upload-remove">Remove</a>
                                </div>
                                <p class="form-text">Your Image should Below 4 MB, Accepted format Jpg,Png,Svg</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row pb-3">
                        <div class="col-md-6">
                          <div class="form-wrap">
                            <label class="col-form-label" for="name">Name of the institution <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="institution">
                            <div *ngIf="edu.get('institution')?.invalid && (edu.get('institution')?.touched || edu.get('institution')?.dirty)">
                              <small class="text-danger">Institution is required.</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-wrap">
                            <label class="col-form-label" for="course">Course <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="course">
                            <div *ngIf="edu.get('course')?.invalid && (edu.get('course')?.touched || edu.get('course')?.dirty)">
                              <small class="text-danger">Course is required.</small>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="row pb-3">
                        <div class="col-lg-4 col-md-6">
                          <div class="form-wrap">
                            <label class="col-form-label" for="start">Start Date <span class="text-danger">*</span></label>
                            <div class="form-icon">
                              <input type="text" class="form-control datetimepicker" bsDatepicker formControlName="startDate">
                              <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                            </div>
                            <div *ngIf="edu.get('startDate')?.invalid && (edu.get('startDate')?.touched || edu.get('startDate')?.dirty)">
                              <small class="text-danger">Start Date is required.</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-wrap">
                            <label class="col-form-label" for="end">End Date <span class="text-danger">*</span></label>
                            <div class="form-icon">
                              <input type="text" class="form-control datetimepicker" bsDatepicker formControlName="endDate">
                              <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                            </div>
                            <div *ngIf="edu.get('endDate')?.invalid && (edu.get('endDate')?.touched || edu.get('endDate')?.dirty)">
                              <small class="text-danger">End Date is required.</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-wrap">
                            <label class="col-form-label" for="years">No of Years <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="years">
                            <div *ngIf="edu.get('years')?.invalid && (edu.get('years')?.touched || edu.get('years')?.dirty)">
                              <small class="text-danger">No of Years is required.</small>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-wrap">
                            <label class="col-form-label" for="descrpion">Description <span class="text-danger">*</span></label>
                            <textarea class="form-control" rows="3" formControlName="description"></textarea>
                            <div *ngIf="edu.get('description')?.invalid && (edu.get('description')?.touched || edu.get('description')?.dirty)">
                              <small class="text-danger">Description is required.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-end">
                      <a href="javascript:void(0);" class="reset more-item" (click)="$event.preventDefault(); deleteEducationFunc(i)">Reset</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-btn text-end">
            <a href="javascript:void(0);" class="btn btn-gray">Cancel</a>
            <button type="submit" class="btn btn-primary prime-btn">Save Changes</button>
          </div>
        </form>
        <!-- /Profile Settings -->

      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->

