<app-doctor-breadcrumb></app-doctor-breadcrumb>

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>
            <div class="col-lg-8 col-xl-9">
                <div class="doc-review">

                    <div class="dashboard-header">
                        <div class="header-back">
                            <h3>Reviews</h3>
                        </div>
                    </div>
                
                    <!-- Review Listing -->
                    <ul class="comments-list">

                        <li class="over-all-review">
                            <div class="review-content">
                                <div class="review-rate">
                                    <h5>Overall Rating</h5>
                                    <div class="star-rated">
                                        <span>{{ avgRating ? (avgRating | number:'1.1-1') : '4.0' }}</span>
                                        <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                                            <i class="fa-solid fa-star" [class.filled]="i < avgRating"></i>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="position-relative daterange-wraper">
                                    <div class="input-groupicon calender-input">
                                        <input type="text" class="form-control  date-range bookingrange" placeholder="From Date - To Date"  bsDaterangepicker [(ngModel)]="bsRangeValue" [bsConfig]="{ adaptivePosition: true }" (ngModelChange)="onDateRangeChange()">
                                    </div>
                                    <i class="fa-solid fa-calendar-days"></i>
                                </div>
                            </div>
                        </li>
                        <!-- Dynamic reviews rendering -->
                        <ng-container *ngIf="reviews && reviews.length > 0">
                            <li *ngFor="let review of reviews">
                                <div class="comments">
                                    <div class="comment-head">
                                        <div class="patinet-information">
                                            <a href="javascript:void(0);">
                                                <img [src]="review.patient?.avatar || 'assets/img/doctors-dashboard/profile-01.jpg'" alt="User Image">
                                            </a>
                                            <div class="patient-info">
                                                <h6><a href="javascript:void(0);">{{ review.patient?.name }}</a></h6>
                                                <span>{{ review.createdAt | date:'dd MMM yyyy' }}</span>
                                            </div>
                                        </div>
                                        <div class="star-rated">
                                            <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                                                <i class="fa-solid fa-star" [class.filled]="i < review.rating"></i>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="review-info">
                                        <p>{{ review.comment }}</p>
                                        <!-- <div class="comment-reply">
                                            <a href="javascript:void(0);" class="d-inline-flex align-items-center"><i class="fa-solid fa-reply me-2"></i> Reply</a>
                                        </div> -->
                                    </div>
                                </div>
                            </li>
                        </ng-container>
                        <!-- End dynamic reviews -->
                    </ul>
                    <!-- /Comment List -->

                    <!-- Pagination -->
                    <div class="pagination dashboard-pagination" *ngIf="totalPages > 1">
                        <ul>
                            <li [class.disabled]="currentPage === 1">
                                <a href="javascript:void(0);" class="page-link" (click)="prevPage()"><i class="fa-solid fa-chevron-left"></i></a>
                            </li>
                            <li *ngFor="let page of paginationPages">
                                <a href="javascript:void(0);" class="page-link"
                                   [class.active]="page === currentPage"
                                   [class.disabled]="page === '...'"
                                   (click)="onPageClick(page)">
                                    {{ page }}
                                </a>
                            </li>
                            <li [class.disabled]="currentPage === totalPages">
                                <a href="javascript:void(0);" class="page-link" (click)="nextPage()"><i class="fa-solid fa-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Pagination -->
                    
                </div>
            </div>
        </div>
    </div>

</div>		
<!-- /Page Content -->