.bg-success {
    background-color: #28a745 !important;
  }
  .bg-danger {
    background-color: #dc3545 !important;
  }
  
  .booking-doc-img {
    position: relative;
    display: inline-block;
  }
  .booking-doc-img.available::after {
    background: #28a745 !important;
    color: #28a745 !important;
  }
  .booking-doc-img.unavailable::after {
    background: #dc3545 !important;
    color: #dc3545 !important;
  }
  .profile-info-widget {
  display: flex;
  text-align: left;
  .booking-doc-img {
    margin-right: 15px;
    position: relative;
    img {
      height: 90px;
      width: 90px;
      object-fit: cover;
      border-radius: 4px;
    }
    &::after {
      content: "\610";
      font-family: 'iconsax', sans-serif;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      bottom: 0;
      border: 2px solid #fff;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      font-size: 16px;
      border-radius: 50%;
      color: #28a745;
    }
    &.available::after {
      color: #28a745;
    }
    &.unavailable::after {
      color: #dc3545;
    }
  }
}
  