<app-patient-breadcrumb></app-patient-breadcrumb>

<!-- Page Content -->
<div class="content doctor-content">
  <div class="container">
    <div class="row">

      <!-- Profile Sidebar -->
      <div class="col-lg-4 col-xl-3 theiaStickySidebar">
        
        <!-- Profile Sidebar -->
        <app-patient-sidebar class="col-lg-4 col-xl-3"></app-patient-sidebar>
        <!-- /Profile Sidebar -->
        
      </div>
      <!-- / Profile Sidebar -->

      <div class="col-lg-8 col-xl-9">
        
        <div class="dashboard-header">
          <h3>Dependants</h3>
        </div>

        <div class="dashboard-header border-0 m-0">
          <ul class="header-list-btns">
            <li>
              <div class="input-block dash-search-input">
                <input type="text" class="form-control" placeholder="Search">
                <span class="search-icon"><i class="isax isax-search-normal"></i></span>
              </div>
            </li>
          </ul>
          <a href="javascript:void(0);" class="btn btn-md btn-primary-gradient rounded-pill" data-bs-toggle="modal" data-bs-target="#add_dependent">Add  Dependants</a>
        </div>

        <!-- Depeendent Item -->
        <div *ngFor="let d of dependants" class="dependent-wrap">
          <div class="dependent-info">
            <div class="patinet-information">
              <a [routerLink]="routes.patientProfile">
                <ng-container *ngIf="d?.profileImgUrl; else avatarFallback">
                  <img [src]="d.profileImgUrl" alt="User Image">
                </ng-container>
        
                <ng-template #avatarFallback>
                  <app-avatar [name]="d?.name" [size]="40" [gap]="10" [marginRight]="10">
                  </app-avatar>
                </ng-template>
              </a>
        
              <div class="patient-info">
                <h5>{{ d.name }}</h5>
                <ul>
                  <li>{{ d.relation }}</li>
                  <li>{{ d.gender }}</li>
                  <li>{{ d.dob | date:'y MMM d' }}</li>
                </ul>
              </div>
            </div>
            <div class="blood-info">
              <p>Blood Group</p>
              <h6>{{ d.bloodGroup }}</h6>
            </div>
          </div>
          <div class="dependent-status">
            <div class="status-toggle">
              <input type="checkbox" [id]="'status_' + d._id" class="check" [checked]="d.status === 'active'"
                (change)="onStatusToggle(d)">
              <label [for]="'status_' + d._id" class="checktoggle">checkbox</label>
            </div>
            <a href="javascript:void(0);" class="edit-icon me-2" (click)="onEditDependant(d)"><i
                class="isax isax-edit-2"></i></a>
            <a href="javascript:void(0);" class="edit-icon" (click)="onDeleteDependant(d)"><i class="isax isax-trash"></i></a>
          </div>
        </div>
        <!-- /Depeendent Item -->

      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->

