<!-- Page Content -->
<div class="content login-page pt-0">
    <div class="container-fluid">
        
        <!-- Register Content -->
        <div class="account-content">
            <div class="d-flex align-items-center">
                <div class="login-right">
                    <div class="inner-right-login">
                        <div class="login-header">
                            <div class="logo-icon">
                                <img src="assets/img/logo.png" alt="doccure-logo">
                            </div>
                            <div class="step-list">
                                <ul>
                                    <li><a href="javascript:void(0)" class="active">1</a></li>
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">4</a></li>
                                    <li><a href="javascript:void(0)">5</a></li>
                                </ul>
                            </div>
                            <form (ngSubmit)="nextStep()" #step1Form="ngForm">
                                <div class="profile-pic-col">
                                    <h3>Profile Picture</h3>
                                    <div class="profile-pic-upload">
                                        <div class="cam-col">
                                            <img *ngIf="profileImage; else cameraIcon" [src]="profileImage" alt="Profile" class="img-fluid" style="max-width: 120px; border-radius: 50%;" />
                                            <ng-template #cameraIcon>
                                                <img src="assets/img/icons/camera.svg" id="prof-avatar" alt="camera-image" class="img-fluid">
                                            </ng-template>
                                        </div>
                                        <span>Upload Profile Picture</span>
                                        <input type="file" class="form-control" accept="image/png, image/jpeg, image/jpg" (change)="onProfileImageSelected($event); profileImageError = ''" [disabled]="uploading">
                                        <div *ngIf="uploadError" class="text-danger small mt-1">{{ uploadError }}</div>
                                        <div *ngIf="uploading" class="text-info small mt-1">Uploading...</div>
                                    </div>
                                    <div *ngIf="profileImageError" class="text-danger small mt-2">{{ profileImageError }}</div>
                                    <button *ngIf="profileImage" type="button" class="btn btn-sm btn-danger mt-2" (click)="removeProfileImage(); profileImageError = ''">Remove</button>
                                </div>
                                
                                <div class="mt-5">
                                    <button type="submit" class="btn btn-primary-gradient w-100">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="login-bottom-copyright">
                        <span>© 2025 Doccure. All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Register Content -->

    </div>

</div>		
<!-- /Page Content -->

