.del-slot.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.add-slot.disabled,
.add-slot[aria-disabled="true"] {
  pointer-events: none;
  cursor: not-allowed !important;
  opacity: 0.6;
}

.add-slot.disabled:hover,
.add-slot[aria-disabled="true"]:hover {
  cursor: not-allowed !important;
}
