<app-doctor-breadcrumb></app-doctor-breadcrumb>

<div class="content doctor-content">
  <div class="container">

    <div class="row">
      <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>

      <div class="col-lg-8 col-xl-9">

        <div class="dashboard-header">
          <h3>Available Timings</h3>
        </div>

        <div class="appointment-tabs">
          <ul class="nav">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="javascript:void(0);" data-bs-toggle="tab"
              data-bs-target="#general-availability">General Availability</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="javascript:void(0);" data-bs-toggle="tab"
              data-bs-target="#clinic-availability">Clinic Availability</a>
            </li>
          </ul>
        </div>
        <div class="tab-content pt-0">

          <!-- General Availability -->
          <div class="tab-pane fade show active" id="general-availability">
            <div class="card custom-card">
              <div class="card-body">
                <div class="card-header">
                  <h3>Select Available Slots</h3>
                </div>

                <div class="available-tab">
                  <label class="form-label" for="Available days">Select Available days</label>
                  <ul class="nav">
                    <li *ngFor="let day of daysOfWeek; let i = index">
                      <a href="javascript:void(0);" [class.active]="selectedDay === day" (click)="onDayChange(day)" [attr.data-bs-target]="'#' + day.toLowerCase()">{{ day }}</a>
                    </li>
                  </ul>
                </div>

                <div class="tab-content pt-0">
                  <div class="tab-pane active show">
                    <div class="slot-box">
                      <div class="slot-header">
                        <h5>
                          {{ selectedDay }} <span class="text-muted small mb-2">- {{ getDateForWeekday(selectedDay) }}</span>
                        </h5>
                        <ul>
                          <li>
                            <a href="javascript:void(0);" class="add-slot" (click)="openAddSlotModal()">Add Slots</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);" class="del-slot" (click)="deleteAllGeneralSlotsForSelectedDay()">Delete All</a>
                          </li>
                        </ul>
                      </div>
                      <div class="slot-body">
                        <!-- <div class="text-muted small mb-2">{{ getDateForWeekday(selectedDay) }}</div> -->
                        <ul class="time-slots" *ngIf="slotsByDay[selectedDay] && slotsByDay[selectedDay].length > 0; else noSlots">
                          <li *ngFor="let slot of slotsByDay[selectedDay]" (click)="onSlotSelect(slot)">
                            <i class="isax isax-clock"></i>{{ formatTime12(slot.startTime) }}
                            <!-- <span class="slot-space">Space : {{ slot.spaces }}</span> -->
                          </li>
                        </ul>
                        <ng-template #noSlots>
                          <p>No Slots Available</p>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-wrap">
                  <label class="col-form-label" for="Appointment Fees">Appointment Fees ($)</label>
                  <input type="number" class="form-control" [(ngModel)]="appointmentFees" />
                </div>
                <div *ngIf="updateError" class="text-danger mb-2" style="font-size: 14px;">{{ updateError }}</div>
                <div class="modal-btn text-end">
                  <a href="javascript:void(0);" class="btn btn-gray" data-bs-toggle="modal"
                  data-bs-dismiss="modal">Cancel</a>
                  <button class="btn btn-primary prime-btn" (click)="updateSlotFees()">Save Changes</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /General Availability -->

          <!-- Clinic Availability -->
          <div class="tab-pane fade" id="clinic-availability">
            <div class="clinic-wrap">
              <h5>Select Clinic</h5>
              <div class="row">
                <div class="col-md-6">
                  <mat-select [(ngModel)]="selectedClinic" (selectionChange)="onClinicChange()" class="custom-mat-select img-mat-select">
                    <mat-select-trigger>
                      <img matListAvatar [src]="selectedClinic.image" alt="clinic image">
                      {{ selectedClinic.name }}
                    </mat-select-trigger>
                    @for (clinic of clinics; track clinic) {
                      <mat-option [value]="clinic">
                        <img matListAvatar [src]="clinic.image" alt="clinic image">
                        {{ clinic.name }}
                      </mat-option>
                    }
                  </mat-select>
                </div>
              </div>
            </div>
            <div class="card custom-card">
              <div class="card-body">
                <div class="card-header">
                  <h3>Select Available Slots</h3>
                </div>

                <div class="available-tab">
                  <label class="form-label" for="available-days">Select Available days</label>
                  <ul class="nav">
                    <li *ngFor="let day of daysOfWeek; let i = index">
                      <a href="javascript:void(0);" [class.active]="selectedDay === day" (click)="onDayChange(day)" [attr.data-bs-target]="'#' + day.toLowerCase() + '-slot'">{{ day }}</a>
                    </li>
                  </ul>
                </div>

                <div class="tab-content pt-0">
                  <div class="tab-pane active show">
                    <div class="slot-box">
                      <div class="slot-header">
                        <h5>
                          {{ selectedDay }}
                        </h5>
                        <ul>
                          <li>
                            <a href="javascript:void(0);" class="add-slot" (click)="openAddSlotModal()">Add Slots</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);" class="del-slot" (click)="deleteAllClinicSlotsForSelectedDay()">Delete All</a>
                          </li>
                        </ul>
                      </div>
                      <div class="slot-body">
                        <div class="text-muted small mb-2">{{ getDateForWeekday(selectedDay) }}</div>
                        <ul class="time-slots" *ngIf="clinicSlotsByDay[selectedDay] && clinicSlotsByDay[selectedDay].length > 0; else noClinicSlots">
                          <li *ngFor="let slot of clinicSlotsByDay[selectedDay]" (click)="onSlotSelect(slot)">
                            <i class="isax isax-clock"></i>{{ formatTime12(slot.startTime) }}
                            <span class="slot-space">Space : {{ slot.spaces }}</span>
                          </li>
                        </ul>
                        <ng-template #noClinicSlots>
                          <p>No Slots Available</p>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-wrap">
                  <label class="col-form-label" for="Appointment Fees">Appointment Fees ($)</label>
                  <input type="number" class="form-control" [(ngModel)]="appointmentFees" />
                </div>
                <div *ngIf="updateError" class="text-danger mb-2">{{ updateError }}</div>
                <div class="modal-btn text-end">
                  <a href="javascript:void(0);" class="btn btn-gray" data-bs-toggle="modal"
                  data-bs-dismiss="modal">Cancel</a>
                  <button class="btn btn-primary prime-btn" (click)="updateSlotFees()">Save Changes</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /Clinic Availability -->

        </div>
      </div>
    </div>

  </div>

</div>