<app-doctor-breadcrumb></app-doctor-breadcrumb>
<!-- Page Content -->
<div class="content doctor-content">
    <div class="container">
        <div class="row">
            
            <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>

            <!-- Payouts -->
            <div class="col-lg-8 col-xl-9">

                <div class="payout-wrap">
                    <div class="payout-title">
                        <h4>Settings</h4>
                        <p>All the earning will be sent to below selected payout method</p>
                    </div>
                    <div class="stripe-wrapper">
                        <div class="stripe-box" (click)="toggleActive(1)" (keydown.enter)="toggleActive(1)" (keydown.space)="toggleActive(1)"  tabindex="0" [ngClass]="{'active': activeBox === 1}">
                            <div class="stripe-img">
                                <img src="assets/img/icons/stripe.svg" alt="img">
                            </div>
                            <a href="javascript:void(0);" class="btn"><i class="fa-solid fa-gear"></i>Configure</a>
                        </div>
                        <div class="stripe-box" (click)="toggleActive(2)" (keydown.enter)="toggleActive(2)" (keydown.space)="toggleActive(2)"  tabindex="0" [ngClass]="{'active': activeBox === 2}">
                            <div class="stripe-img">
                                <img src="assets/img/icons/paypal.svg" alt="img">
                            </div>
                            <a href="javascript:void(0);" class="btn" data-bs-toggle="modal" data-bs-target="#add_configure"><i class="fa-solid fa-gear"></i>Configure</a>
                        </div>
                    </div>
                </div>

                <div class="dashboard-header">
                    <h3>Payouts</h3>
                </div>

                <div class="search-header" *ngIf="paginatedPayouts.length > 0 || loading">
                    <div class="search-field">
                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="onSearchChange()">
                        <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                </div>

                <div class="custom-table" *ngIf="paginatedPayouts.length > 0 || loading">
                    <div class="table-responsive">
                        <table class="table table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Payment Method</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let payout of paginatedPayouts">
                                    <td>{{ payout.paymentDate | date: 'dd MMM yyyy' }}</td>
                                    <td>{{ payout.paymentMethod | titlecase }}</td>
                                    <td>${{ payout.amount }}</td>
                                    <td>
                                        <span class="badge" style="border-radius: 10px;" [ngClass]="{
                                            'badge-green status-badge': payout.status === 'completed',
                                            'badge-warning status-badge': payout.status === 'pending',
                                            'badge-danger status-badge': payout.status === 'failed',
                                            'badge-info status-badge': payout.status === 'processing'
                                        }">{{ payout.status | titlecase }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <app-empty-state *ngIf="!loading && paginatedPayouts.length === 0"
                [title]="'No Payouts'"
                [message]="'There are no payouts to show.'"
                ></app-empty-state>

                <!-- Pagination -->
                <div class="pagination dashboard-pagination" *ngIf="paginatedPayouts.length > 0">
                    <ul>
                        <li [class.disabled]="currentPage === 1">
                            <a href="javascript:void(0);" class="page-link" (click)="prevPage()"><i class="fa-solid fa-chevron-left"></i></a>
                        </li>
                        <li *ngFor="let page of paginationPages">
                            <a href="javascript:void(0);" class="page-link"
                               [class.active]="page === currentPage"
                               [class.disabled]="page === '...'"
                               (click)="onPageClick(page)">
                                {{ page }}
                            </a>
                        </li>
                        <li [class.disabled]="currentPage === totalPages">
                            <a href="javascript:void(0);" class="page-link" (click)="nextPage()"><i class="fa-solid fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- /Pagination -->

            </div>
            <!-- /Payouts -->

        </div>
    </div>
</div>		
<!-- /Page Content -->
