<app-patient-breadcrumb></app-patient-breadcrumb>
<!-- Page Content -->
<div class="content doctor-content">
    <div class="container">
        <div class="row">

            <app-patient-sidebar class="col-lg-4 col-xl-3"></app-patient-sidebar>

            <div class="col-lg-8 col-xl-9">

                <div class="dashboard-header">
                    <h3>Favourites</h3>
                    <ul class="header-list-btns">
                        <li>
                            <div class="input-block dash-search-input">
                                <input type="text" class="form-control" placeholder="Search"
                                       [(ngModel)]="search" (input)="onSearchChange()">
                                <span class="search-icon"><i class="isax isax-search-normal"></i></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Favourites -->
                <div class="row">
                    <ng-container *ngFor="let doc of doctorProfiles; let i = index">
                    <div class="col-md-6 col-lg-4">
                        <div class="profile-widget patient-favour">
                            <div class="fav-head">
                                <a href="javascript:void(0)" class="fav-btn favourite-btn" (click)="toggleFavourite(i)">
                                    <span class="favourite-icon" [ngClass]="{ 'favourite': doc.favourite.favourites }"><i class="fa-solid fa-heart"></i></span>
                                </a>
                                <div class="doc-img">
                                    <a [routerLink]="[routes.doctorProfile2, doc.doctor._id]">
                                        <img class="img-fluid" alt="User Image" [src]="doc.doctor.profileImgUrl || 'assets/img/doctors/doctor-thumb-21.jpg'">
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a [routerLink]="[routes.doctorProfile2, doc.doctor._id]">{{ doc.doctor.name }}</a> 
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">{{ doc.doctor.specialization?.name }}</p>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating " style="margin-left: 7px;">{{ doc.doctor.avgRating || '5' }}</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <span><i class="isax isax-calendar5 me-1"></i></span>Next Availability : <!-- Add dynamic date if available -->
                                        </li>
                                        <li>
                                            <span><i class="isax isax-location5 me-1"></i></span>Location : {{ doc.doctor.city || 'N/A' }}
                                        </li>
                                    </ul>
                                    <div class="last-book">
                                        <p>Last Book on : {{(doc.appointments) | date:'dd MMM yyyy' }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="fav-footer">
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a [routerLink]="[routes.doctorProfile1, doc.doctor._id]" class="btn btn-md btn-light w-100">View Details</a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink]="[routes.booking, doc.doctor._id]" class="btn btn-md btn-outline-primary w-100">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                                </div>
                <div class="text-center my-3" *ngIf="canLoadMore">
                  <button class="btn btn-primary" (click)="loadMore()" [disabled]="loadingMore">
                    <span *ngIf="loadingMore">Loading...</span>
                    <span *ngIf="!loadingMore">Load More</span>
                  </button>
                </div>
                <!-- /Favourites -->

                <!-- <div class="col-md-12">
                    <div class="loader-item text-center">
                        <a href="javascript:void(0);" class="btn btn-outline-primary rounded-pill">Load More</a>
                    </div>
                </div>	 -->

            </div>
        </div>
    </div>

</div>		
<!-- /Page Content -->