

<div class="header-topbar">
    <div class="container">
      <div class="topbar-info">
        <div class="d-flex align-items-center gap-3 header-info">
          <p><i class="isax isax-message-text5 me-1"></i>info&#64;example.com</p>
          <p><i class="isax isax-call5 me-1"></i>+1 66589 14556</p>
        </div>
        <ul>
          <li class="header-theme">
            <a href="javascript:void(0);" id="dark-mode-toggle" class="theme-toggle" [ngClass]="{'activate' : isdark}" (click)="darkMode()" (click)="sidebar.changeThemeColor('dark-mode')">
              <i class="isax isax-sun-1"></i>
            </a>
            <a href="javascript:void(0);" id="light-mode-toggle" class="theme-toggle" [ngClass]="{'activate' : islight}" (click)="darkMode()" (click)="sidebar.changeThemeColor('light-mode')">
              <i class="isax isax-moon"></i>
            </a>
          </li>
          <li class="d-inline-flex align-items-center drop-header">
            <div class="dropdown dropdown-country me-3">
              <a href="javascript:void(0);" class="d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/img/flags/us-flag.svg" class="me-2" alt="flag">
              </a>
              <ul class="dropdown-menu p-2 mt-2">
                <li>
                  <a class="dropdown-item rounded d-flex align-items-center" href="javascript:void(0);">
                    <img src="assets/img/flags/us-flag.svg" class="me-2" alt="flag">ENG
                  </a>
                </li>
                <li>
                  <a class="dropdown-item rounded d-flex align-items-center" href="javascript:void(0);">
                    <img src="assets/img/flags/arab-flag.svg" class="me-2" alt="flag">ARA
                  </a>
                </li>
                <li>
                  <a class="dropdown-item rounded d-flex align-items-center" href="javascript:void(0);">
                    <img src="assets/img/flags/france-flag.svg" class="me-2" alt="flag">FRA
                  </a>
                </li>
              </ul>
            </div>
            <div class="dropdown dropdown-amt">
              <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                USD
              </a>
              <ul class="dropdown-menu p-2 mt-2">
                <li><a class="dropdown-item rounded" href="javascript:void(0);">USD</a></li>
                <li><a class="dropdown-item rounded" href="javascript:void(0);">YEN</a></li>
                <li><a class="dropdown-item rounded" href="javascript:void(0);">EURO</a></li>
              </ul>
            </div>
          </li>
          <li class="social-header">
            <div class="social-icon">
              <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
              <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
              <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
              <a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <header class="header header-custom header-fixed inner-header relative" [ngClass]="{'fixed && pharmacy-header': isFixed}">
    <div class="container">
      <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
          <a (click)="toggleSidebar()" id="mobile_btn" href="javascript:void(0);">
            <span class="bar-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
          <a [routerLink] = "routes.home1" class="navbar-brand logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
          </a>
        </div>
        <div class="header-menu">
          <div class="main-menu-wrapper">
          <div class="menu-header">
            <a [routerLink]="routes.adminLogin" class="menu-logo">
              <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
            </a>
            <a id="menu_close" (click)="hideSidebar()" class="menu-close" href="javascript:void(0);">
              <i class="fas fa-times"></i></a>
            </div>
            <ul class="main-nav">
              <li>
                <a [routerLink]="'/pages/about-us'">About Us</a>
              </li>
              <li>
                <a [routerLink]="'/pages/contact-us'">Contact Us</a>
              </li>
            </ul>
            </div>
            <ul class="nav header-navbar-rht">
              <li class="searchbar">
                <a href="javascript:void(0);" (click)="openSearch()"><i class="feather-search"></i></a>
                <div class="togglesearch" [ngStyle]="{'display':isSearch?'block':'none'}">
                  <form (ngSubmit)="onSearchSubmit($event)">
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="searchValue" name="searchValue">
                      <button type="submit" class="btn">Search</button>
                    </div>
                  </form>
                </div>
              </li>
              <li *ngIf="!isLoggedIn()">
                <a [routerLink]="routes.userLogin" class="btn btn-md btn-primary-gradient d-inline-flex align-items-center rounded-pill"><i class="isax isax-lock-1 me-1"></i>Sign Up</a>
              </li>
              <li *ngIf="!isLoggedIn()">
                <a [routerLink]="routes.register" class="btn btn-md btn-dark d-inline-flex align-items-center rounded-pill">
                  <i class="isax isax-user-tick me-1"></i>Register
                </a>
              </li>
              <li *ngIf="isLoggedIn()" class="d-flex align-items-center">
                <span class="me-2">{{ getUserName() }}</span>
                <ng-container *ngIf="getUserImage(); else initialsAvatar">
                  <img [src]="getUserImage()" alt="User" class="rounded-circle me-2" style="width:32px; height:32px; object-fit:cover; cursor:pointer;" (click)="goToDashboard()">
                </ng-container>
                <ng-template #initialsAvatar>
                  <span class="rounded-circle me-2 d-inline-flex align-items-center justify-content-center bg-secondary text-white" style="width:32px; height:32px; font-weight:bold; font-size:1rem; cursor:pointer;" (click)="goToDashboard()">
                    {{ getUserInitials() }}
                  </span>
                </ng-template>
                <button class="btn btn-md btn-outline-secondary rounded-pill" (click)="logout()">Logout</button>
              </li>
            </ul>
            </div>
          </nav>
        </div>
      </header>